Repository TheBestTvarynka/crypto-helper, pull requests merged in 2023-05, with the labels that each got.

#23 Share by url & refactoring
  .github/workflows/check-pr.yml
  .github/workflows/github-actions.yml
  Cargo.lock
  Cargo.toml
  public/assets/rsa_private_key.pem
  public/assets/rsa_public_key.pem
  public/img/icons/share_by_link.png
  public/styles/style.scss
  src/about.rs
  src/common/byte_input.rs
  src/common/simple_output.rs
  src/common/switch.rs
  src/crypto_helper.rs
  src/crypto_helper/algorithm.rs
  src/crypto_helper/computations.rs
  src/crypto_helper/input.rs
  src/crypto_helper/input/krb.rs
  src/crypto_helper/input/rsa.rs
  src/crypto_helper/output.rs
  src/crypto_helper/output/krb.rs
  src/crypto_helper/serde.rs
  src/footer.rs
  src/jwt.rs
  src/jwt/jwt/editor.rs
  src/jwt/jwt/viewer.rs
  src/jwt/jwt_utils.rs
  src/main.rs
  src/url_query_params.rs
  src/utils.rs
Labels: enhancement, crypto-helper, jwt

#26 ByteInput validation
  public/styles/input.scss
  src/common/byte_input.rs
  src/common/mod.rs
  src/crypto_helper/algorithm.rs
  src/crypto_helper/input.rs
Labels: enhancement

#27 Add Bcrypt hashing
  Cargo.lock
  Cargo.toml
  src/crypto_helper.rs
  src/crypto_helper/algorithm.rs
  src/crypto_helper/computations.rs
  src/crypto_helper/info.rs
  src/crypto_helper/input.rs
  src/crypto_helper/input/bcrypt.rs
  src/crypto_helper/output.rs
Labels: crypto-helper
