Repository TheBestTvarynka/crypto-helper, pull requests merged in 2024-03, with the labels that each got.

#59 Local storage support
  Cargo.toml
  src/asn1.rs
  src/common/mod.rs
  src/crypto_helper.rs
  src/crypto_helper/algorithm.rs
  src/jwt.rs
  src/jwt/jwt.rs
  src/jwt/jwt_utils.rs
  src/jwt/signature.rs
  src/main.rs
  src/serde.rs
  src/url_query_params.rs
Labels: enhancement

#60 Diff checker: Initial implementation
  Cargo.lock
  Cargo.toml
  index.html
  public/styles/diff/styles.scss
  src/about.rs
  src/asn1.rs
  src/diff.rs
  src/diff/diff_algo.rs
  src/diff/diff_viewer.rs
  src/header.rs
  src/main.rs
Labels: enhancement, diff-checker

#61 Fix ASN1 freezes and latency on big input
  Cargo.lock
  crates/asn1-parser/Cargo.toml
  crates/asn1-parser/src/asn1.rs
  crates/asn1-parser/src/lib.rs
  crates/asn1-parser/src/time/utc_time.rs
  crates/asn1-parser/tests/decode_encode.rs
  src/asn1.rs
  src/asn1/hex_view.rs
  src/asn1/macros.rs
  src/asn1/node_options.rs
  src/asn1/scheme/oid.rs
  src/asn1/scheme/primitive.rs
  src/asn1/scheme/sequence.rs
  src/asn1/scheme/set.rs
  src/asn1/scheme/strings.rs
  src/asn1/scheme/tag.rs
  src/asn1/scheme/time.rs
  src/common/bytes_viewer.rs
  src/common/mod.rs
  src/common/rc_slice.rs
Labels: bug, refactoring, asn1-parser

#62 Optimization of hex_format_byte
  src/common/mod.rs
Labels: enhancement, refactoring

#64 Update dependencies
  .github/workflows/github-actions.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/asn1.rs
  src/common/byte_input.rs
  src/common/mod.rs
  src/common/simple_output.rs
  src/crypto_helper.rs
  src/crypto_helper/computations.rs
  src/crypto_helper/info/algo_search.rs
  src/crypto_helper/input/krb.rs
  src/crypto_helper/input/rsa.rs
  src/diff.rs
  src/diff/diff_algo.rs
  src/diff/diff_viewer.rs
  src/jwt.rs
  src/jwt/jwt_utils.rs
  src/utils.rs
Labels: refactoring

#65 Non-blocking diffs computation using workers
  Cargo.lock
  Cargo.toml
  index.html
  public/styles/diff/styles.scss
  public/styles/style.scss
  src/bin/main.rs
  src/bin/worker.rs
  src/common/loader.rs
  src/common/mod.rs
  src/diff.rs
  src/diff/diff_algo.rs
  src/diff/task.rs
  src/lib.rs
Labels: enhancement, diff-checker

#67 Argon2 (by @Jujumba)
  Cargo.lock
  Cargo.toml
  README.md
  rust-toolchain.toml
  src/about.rs
  src/crypto_helper.rs
  src/crypto_helper/algorithm.rs
  src/crypto_helper/computations.rs
  src/crypto_helper/info.rs
  src/crypto_helper/input.rs
  src/crypto_helper/input/argon2.rs
  src/crypto_helper/output.rs
Labels: crypto-helper
